#root {
  padding: 50px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #2b72a5;
  font-size: 8vw;
  font-weight: 900;
  margin: 0;
}

h2 {
  color: #2b72a5;
  font-size: calc(50px + 3vw);
  font-weight: 900;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}

h4 {
  font-size: 3vw;
  margin: 0;
}

h6 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.emphasize {
  font-weight: 900;
  color: #2b72a5;
}

.vw5 {
  font-size: 5vw;
}

a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}


nav {
  display: flex;
  gap: 23px;
  justify-content: center;
  margin: 30px;
}

button {
  border: none;
  background: none;
  font-size: 2vw;
  text-transform: lowercase;
  position: relative;
  text-decoration: none;

}

button::before {
  background: hsl(208, 100%, 75%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

.fade-in-2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.delay-1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
}

.delay-3 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
}

.delay-3250 {
  animation-delay: 3250ms;
  -webkit-animation-delay: 3250ms;
  -moz-animation-delay: 3250ms;
  -o-animation-delay: 3250ms;
  -ms-animation-delay: 3250ms;
}

.delay-3500 {
  animation-delay: 3500ms;
  -webkit-animation-delay: 3500ms;
  -moz-animation-delay: 3500ms;
  -o-animation-delay: 3500ms;
  -ms-animation-delay: 3500ms;
}

.delay-3750 {
  animation-delay: 3750ms;
  -webkit-animation-delay: 3750ms;
  -moz-animation-delay: 3750ms;
  -o-animation-delay: 3750ms;
  -ms-animation-delay: 3750ms;
}


.delay-4750 {
  animation-delay: 4750ms;
  -webkit-animation-delay: 4750ms;
  -moz-animation-delay: 4750ms;
  -o-animation-delay: 4750ms;
  -ms-animation-delay: 4750ms;
}

.delay-5250 {
  animation-delay: 5250ms;
  -webkit-animation-delay: 5250ms;
  -moz-animation-delay: 5250ms;
  -o-animation-delay: 5250ms;
  -ms-animation-delay: 5250ms;
}



@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}


@media (max-width: 600px) {
  #root {
    padding: 4px;
  }
  h1{
    font-size: 60px;
  }
  h4 {
    font-size: 20px;
  }
  .start {
    text-align: center;
  }
  .end {
    text-align: center;
  }
}