#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #2b72a5;
  font-size: 8vw;
  font-weight: 900;
  margin: 0;
}

h4 {
  font-size: 3vw;
  margin: 0;
}

h1:hover {
  text-shadow: 1px 2px 6px rgba(0,0,0,0.46);
}

/* .fade-in {
  animation: fadeIn ease 2s delay 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s delay 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
} */


.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration:1s;
  animation-fill-mode: forwards;
}


.delay-1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
}

.delay-3 {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
}

.delay-3250 {
  animation-delay: 3250ms;
  -webkit-animation-delay: 3250ms;
  -moz-animation-delay: 3250ms;
  -o-animation-delay: 3250ms;
  -ms-animation-delay: 3250ms;
}

.delay-3500 {
  animation-delay: 3500ms;
  -webkit-animation-delay: 3500ms;
  -moz-animation-delay: 3500ms;
  -o-animation-delay: 3500ms;
  -ms-animation-delay: 3500ms;
}

.delay-3750 {
  animation-delay: 3750ms;
  -webkit-animation-delay: 3750ms;
  -moz-animation-delay: 3750ms;
  -o-animation-delay: 3750ms;
  -ms-animation-delay: 3750ms;
}


.delay-4750 {
  animation-delay: 4750ms;
  -webkit-animation-delay: 4750ms;
  -moz-animation-delay: 4750ms;
  -o-animation-delay: 4750ms;
  -ms-animation-delay: 4750ms;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

