.project-container {
  padding: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-startgit;
  width: 100vw
}

.techs-container {
  text-align: center;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  margin: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #e9e95d;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.project-image {
  width: 90%;
  max-width: 350px;
  min-width: 300px;
  height: 150px;
  border-radius: 3px;
  object-fit: cover;
  object-position: 0 0%;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title {
  font-weight: 800;
  font-size: 30px;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech {
  margin: 4px 5px;
  padding: 4px;
  width: 110px;
  height: 20px;
  border-radius: 3px;
  font-weight: 500;
  transition: transform .2s;
}

.selected {
  box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.4) 4px 4px
}

.tech:hover {
  transform: scale(1.1);
  cursor:pointer
}

.javascript {
  background-color: #EFD81D;
}

.typescript {
  background-color: rgb(81, 114, 245)
}

.react {
  background-color: rgb(0, 200, 255);
}

.bootstrap {
  color: white;
  background-color: #6F2DF3;
}

.supabase {
  background-color: #3ECF8E;
}

.sql {
  background-color: rgb(255, 136, 0);
}

.axios {
  color: white;
  background-color: #671DDF;
}

.nodejs {
  color: white;
  background-color: #406852;
}

.openai {
  color: white;
  background-color: gray;
}

.express {
  background-color: white;
}

.postgressql {
  color: white;
  background-color: #336791;
}

.ruby {
  color: white;
  background-color: #CC342D;
}

.rails {
  color: white;
  background-color: #D30001;
}

.rspec {
  background-color: rgb(241, 126, 126);
}

.active-record {
  background-color: pink;
}

.bcrypt {
  color: white;
  background-color: rgb(5, 16, 18);
}

.cypress {
  background-color: #f0fcf8;
}

.userfront {
  color: white;
  background-color: #2A3365;
}

.jquery {
  color: white;
  background-color: #222c68;
}

.ejs {
  color: white;
  background-color: #4a0593;
}

.sass {
  background-color: rgb(253, 116, 203);
}

.destr {
  color: white;
  background-color: #406852;
}

.cors {
  background-color: #72ff91;
}